## Varun Dhanak 12

#### Importing

In [8]:
import sqlite3

#### Connecting to Database

In [9]:
connection = sqlite3.connect ('./genericDatabase.db')
cursor = connection.cursor ()

#### Create Table

In [10]:
cursor.execute("DROP TABLE IF EXISTS students") # Delete table if it exists
connection.commit()
cursor.execute('''
 CREATE TABLE IF NOT EXISTS students (
 id INTEGER PRIMARY KEY AUTOINCREMENT,
 name TEXT NOT NULL,
 age INTEGER NOT NULL
 )
''')
connection.commit()

 ### CRUD Operations

#### Create (Insertion)

In [11]:
def create_student(name, age):
    cursor.execute('''
        INSERT INTO students (name, age) 
        VALUES (?, ?)
    ''', (name, age))
    connection.commit()
    print("Record added successfully!")

create_student("Griffith", 20)
create_student("Guts", 22)

Record added successfully!
Record added successfully!

#### Read (Retrieve)

In [12]:
def read_students():
    cursor.execute('SELECT * FROM students')
    rows = cursor.fetchall()
    print("Student Records:")
    for row in rows:
        print(row)

read_students()

Student Records:
(1, 'Griffith', 20)
(2, 'Guts', 22)

#### Update

In [13]:
def update_student_age(student_id, new_age):
    cursor.execute('''
        UPDATE students 
        SET age = ? 
        WHERE id = ?
    ''', (new_age, student_id))
    connection.commit()
    print("Student age updated successfully!")

#### Delete

In [14]:
def delete_student(student_id):
    cursor.execute('''
        DELETE FROM students 
        WHERE id = ?
    ''', (student_id,))
    connection.commit()
    print("Student deleted successfully!")

#### Closing the database connection

In [15]:
connection.close ()